@import 'node_modules/bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    cursor: pointer;
}

.card-container {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    position: relative;

    .cover {
        width: 100%;
        height: 100%;
        display: block;
    }

    .info-card {
        width: 100%;
        height: 100%;
        background-color: #000000;
        color: white;
        position: absolute;
        top: 0;
        padding: 20px;
        display: none;
        text-align: center;
        overflow-y: auto;
    }
}